<a href="https://colab.research.google.com/github/Aarsh-J/Time-Series-Forecasting/blob/main/TSF_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Day :1***

In [ ]:
n=int(input('enter any number : '))
if n%2==0:
  print('even')
else:
  print('odd')

In [ ]:
# How to make lists

# Anything in [] is taken as list

text=input("Enter any word : ")
vowels=['a','e','i','o','u']  # This is the list

for i in text:
  if i in vowels:
    print(i)

Enter any word : elephant
e
e
a

In [ ]:
# How to make dictionary

# Any inside {} is taken as dictionary
# Dictionary gives {key:value}

l=[1,1,3,3,3,4,4,5,5,5,6,7,7,7]
d={}
for i in l:
  if i in d:
    d[i]=d[i]+1   #[]gives the value of the key
  else:
    d[i]=1
print(d)

{1: 2, 3: 3, 4: 2, 5: 3, 6: 1, 7: 3}

In [ ]:
str1 = "betty bought some butter but the butter was bitter so she bought some more butter to make bitter butter better"
list2 = str1.split(" ")
myset = set(list2)
print("list 2 is",(list2))
d2={}
for i in list2:
  if i in d2:
    d2[i]=d2[i]+1
  else:
    d2[i]=1
print("d2 is" ,(d2))

list 2 is ['betty', 'bought', 'some', 'butter', 'but', 'the', 'butter', 'was', 'bitter', 'so', 'she', 'bought', 'some', 'more', 'butter', 'to', 'make', 'bitter', 'butter', 'better']
d2 is {'betty': 1, 'bought': 2, 'some': 2, 'butter': 4, 'but': 1, 'the': 1, 'was': 1, 'bitter': 2, 'so': 1, 'she': 1, 'more': 1, 'to': 1, 'make': 1, 'better': 1}

**Home Work**

In [ ]:
name_1=input("Enter your name ")
age_1=int(input("Enter your age "))

name_2=input("Enter your name ")
age_2=int(input("Enter your age "))

sum=age_1+age_2
print(sum)

In [ ]:
n1=int(input('enter first number '))
n2=int(input('enter second number '))
n3=int(input('enter third number '))
sum2=n1+n2+n3
mean=sum2/3
print(mean)

enter first number 5
enter second number 9
enter third number 4
6.0

In [ ]:
l=int(input("length "))
b=int(input("breadth "))
h=int(input("height "))
vol=l*b*h
print(vol)

length 1
breadth1
height1
1

In [ ]:
n=int(input('enter any number '))
sum=n*(n+1)/2
print(sum)

enter any number 10
55.0

In [4]:
a=int(input("enter a number "))
b=1
for i in range (1,a+1):
  b=b*i
print(b)

enter a number 4
24

In [1]:
a=1
b="*"
while a!=6:
  print(b*a)
  a=a+1

*
**
***
****
*****

In [3]:

def compute_hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf

int(input("num1 "))
int(input("num2 "))

print("The H.C.F. is", compute_hcf(num1, num2))

num14
num26
The H.C.F. is 20

In [ ]:
n1=input("enter number 1 ")
n2=input("enter number 2 ")
if n1>n2:

***Day: 2***

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("Month_Value_1.csv")

In [ ]:
df.head()

,Period,Revenue,Sales_quantity,Average_cost,The_average_annual_payroll_of_the_region
0,01.01.2015,1.601007e+07,12729.0,1257.763541,30024676.0
1,01.02.2015,1.580759e+07,11636.0,1358.507000,30024676.0
2,01.03.2015,2.204715e+07,15922.0,1384.697024,30024676.0
3,01.04.2015,1.881458e+07,15227.0,1235.606705,30024676.0
4,01.05.2015,1.402148e+07,8620.0,1626.621765,30024676.0

In [ ]:
df.tail()

,Period,Revenue,Sales_quantity,Average_cost,The_average_annual_payroll_of_the_region
91,01.08.2022,NaN,NaN,NaN,NaN
92,01.09.2022,NaN,NaN,NaN,NaN
93,01.10.2022,NaN,NaN,NaN,NaN
94,01.11.2022,NaN,NaN,NaN,NaN
95,01.12.2022,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(96, 5)

In [ ]:
df.size

480

In [ ]:
df.columns

Index(['Period', 'Revenue', 'Sales_quantity', 'Average_cost',
       'The_average_annual_payroll_of_the_region'],
      dtype='object')

In [ ]:
df.count

<bound method DataFrame.count of         Period       Revenue  Sales_quantity  Average_cost  \
0   01.01.2015  1.601007e+07         12729.0   1257.763541
1   01.02.2015  1.580759e+07         11636.0   1358.507000
2   01.03.2015  2.204715e+07         15922.0   1384.697024
3   01.04.2015  1.881458e+07         15227.0   1235.606705
4   01.05.2015  1.402148e+07          8620.0   1626.621765
..         ...           ...             ...           ...
91  01.08.2022           NaN             NaN           NaN
92  01.09.2022           NaN             NaN           NaN
93  01.10.2022           NaN             NaN           NaN
94  01.11.2022           NaN             NaN           NaN
95  01.12.2022           NaN             NaN           NaN

    The_average_annual_payroll_of_the_region
0                                 30024676.0
1                                 30024676.0
2                                 30024676.0
3                                 30024676.0
4                                 30024676.0
..                                       ...
91                                       NaN
92                                       NaN
93                                       NaN
94                                       NaN
95                                       NaN

[96 rows x 5 columns]>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 5 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Period                                    96 non-null     object
 1   Revenue                                   64 non-null     float64
 2   Sales_quantity                            64 non-null     float64
 3   Average_cost                              64 non-null     float64
 4   The_average_annual_payroll_of_the_region  64 non-null     float64
dtypes: float64(4), object(1)
memory usage: 3.9+ KB

In [ ]:
df.describe()

,Revenue,Sales_quantity,Average_cost,The_average_annual_payroll_of_the_region
count,6.400000e+01,64.000000,64.000000,6.400000e+01
mean,3.236045e+07,19197.375000,1695.061159,2.869083e+07
std,1.164150e+07,6591.287257,296.844793,1.057191e+06
min,1.402148e+07,8314.000000,1110.576805,2.740647e+07
25%,2.242655e+07,15065.500000,1499.142841,2.782857e+07
50%,3.209088e+07,18368.000000,1654.399798,2.819785e+07
75%,3.992999e+07,22856.250000,1916.401096,2.987852e+07
max,5.875647e+07,38069.000000,2559.328184,3.002468e+07

In [ ]:
df.dtypes

Period                                       object
Revenue                                     float64
Sales_quantity                              float64
Average_cost                                float64
The_average_annual_payroll_of_the_region    float64
dtype: object